TechnoparkMobileProject/.idea/
TechnoparkMobileProject/app/src/main/res/drawable-hdpi/.idea/
TechnoparkMobileProject/app/src/main/res/drawable-hdpi/.idea/*.xml
TechnoparkMobileProject/.idea/codeStyles/Project.xml
