TechnoparkMobileProject/.idea/
TechnoparkMobileProject/app/src/main/res/drawable-hdpi/.idea/
TechnoparkMobileProject/app/src/main/res/drawable-hdpi/.idea/*.xml
TechnoparkMobileProject/.idea/codeStyles/Project.xml
androidStudioFirstRun.xml
baseRefactoring.xml
codestyles/Default.xml
projectView.xml
TechnoparkMobileProject/.idea/gradle.xml
TechnoparkMobileProject/app/build.gradle
TechnoparkMobileProject/gradle/wrapper/gradle-wrapper.properties
TechnoparkMobileProject/gradlew
_windows/laf.xml
_windows/path.macros.xml
androidStudioFirstRun.xml
codestyles/Default.xml
debugger.xml
filetypes.xml
notifications.xml
studioFlags.xml
